<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bangkit BOOKER Project</title>
</head>
<body>
    <h2 style="text-align: center;"><span style="text-align: center; color: #0000ff;"><span style="text-align: center; color: #0000ff;"><strong>Dokumentasi Backend Booker Project</strong></span></span></h2>
    <h3>Untuk mendapatkan satu buku bedasarkan Nama Buku</h3>
    <ul style="list-style-type: square;">
        <li><strong>API :</strong> <span style="color: #ff0000;">bangkit-booker-352402.et.r.appspot.com/book/&lt;NamaBuku&gt;</span></li>
        <li><strong>METHOD : </strong>GET</li>
        <li><strong>Keterangan : </strong>Ganti &lt;NamaBuku&gt; Sesuai Buku yang ingin dicari, nama buku case sensitive (jika tidak sesuai huruf besar dan kecil akan) mengembalikan error.</li>
        <li><strong>Contoh :</strong><a title="https://bangkit-booker-352402.et.r.appspot.com/book/The%20Sight" href="https://bangkit-booker-352402.et.r.appspot.com/book/The%20Sight" target="_blank">https://bangkit-booker-352402.et.r.appspot.com/book/The%20Sight</a></li>
    </ul>
    <h3>Untuk mendapatkan 10 similiar book (Cosine Similarity) bedasarkan Nama Buku</h3>
    <ul style="list-style-type: square;">
        <li><strong>API :</strong> <span style="color: #ff0000;">https://bangkit-booker-352402.et.r.appspot.com/similiarBooks/&lt;NamaBuku&gt;</span></li>
        <li><strong>METHOD : </strong>GET</li>
        <li><strong>Keterangan : </strong>Ganti &lt;NamaBuku&gt; Sesuai Buku yang ingin dicari, nama buku case sensitive (jika tidak sesuai huruf besar dan kecil akan mengembalikan error.)</li>
        <li><strong>Contoh :&nbsp;</strong><a title="https://bangkit-booker-352402.et.r.appspot.com/similiarBooks/The%20Sight" href="https://bangkit-booker-352402.et.r.appspot.com/similiarBooks/The%20Sight" target="_blank">https://bangkit-booker-352402.et.r.appspot.com/similiarBooks/The%20Sight</a></li>
    </ul>
    <h3>Untuk mendapatkan 20 top Ratings Book bedasarkan Genre Buku</h3>
    <ul style="list-style-type: square;">
        <li><strong>API :</strong> <span style="color: #ff0000;">https://bangkit-booker-352402.et.r.appspot.com/topRatings/&lt;Genre&gt;</span></li>
        <li><strong>METHOD : </strong>GET</li>
        <li><strong>Keterangan : </strong>Ganti &lt;Genre&gt; Sesuai Buku yang ingin dicari, nama Genre case sensitive (jika tidak sesuai huruf besar dan kecil akan mengembalikan error.)</li>
        <li><strong>Contoh : </strong><span style="color: #0000ff;"><a title="https://bangkit-booker-352402.et.r.appspot.com/topRatings/Classics" href="https://bangkit-booker-352402.et.r.appspot.com/topRatings/Classics" target="_blank">https://bangkit-booker-352402.et.r.appspot.com/topRatings/Classics</a></span></li>
    </ul>
    <p><span style="color: #ff0000;">*Untuk melihat hasil APInya Disarankan untuk menggunakan mozilla firefox untuk tampilan yang lebih rapih</span></p>
</body>
</html>